
    <div>  <%= @movie.title %></div>
	<div><%= @movie.description %></div>
	<% if @movie.movie_img.attached? %>
		<image src="<%=url_for((@movie.movie_img))%>">
	 <% end %>



<div id="comments"> 
 <p> Comments: </p>  
    <% @movie.comments.each do |comment| %>     <br>
  <div><%= comment.user.username %> says: 
  <br><%= comment.text %> </div>     
    <% end %>
</div> <br> <br>



<%= form_for @movie.comments.build do |f| %>
	<%= f.hidden_field :movie_id, value: @movie.id %>
	<%= f.label "Add a comment:" %> 
	<%= f.hidden_field :user_id, value: @commenter.id  %> <br>
	<%= @commenter.username  %> <br>
	<%= f.text_area :text %> <br>
	<%= f.submit %>
<%  end %>




