	<% if flash[:alert] %>
	    <div class="alert"><%= flash.now[:alert] %></div>
	<% end %>
	    
	<button class="next-movie" data-id="<%=@movie.id%>">
		Next Movie
	</button> 

	<br>
	<br>

<div class="display">	
   <h1 class="movieTitle">        <%= @movie.title %></h1>
   <h2 class="movieDescription">   <%= @movie.description %></h2>
	<br>
	<div class="movieGenres">
		<p> Genres: </p> 
		<% @movie.genres.each do |m|  %>
			<%= m.name %> <br>
		  <% end %>
	</div>

	<div class="movieImage">
	<% if @movie.movie_img.attached? %>
		<image style="width: 600px" src="<%=asset-url((@movie.movie_img))%>">
	 <% end %>
	 <div>

</div> <!-- end display div -->

	<div id="comments"> 
	<% if @movie.comments.exists? %>
	 <p> Comments: </p>  
	    <% @movie.comments.each do |co| %>  <br> <br>   
		 <%= co.user.name %> <p>says:</p>
		 <%= co.text %>    <p>Rates this movie as:</p>
		 <%= co.rating %>
	    <% end %>
	<% end %>
	</div>

	<div id="commentForm">
	<%= form_for @movie.comments.build do |f| %>
		<%= f.hidden_field :movie_id, value: @movie.id %>
		<%= f.hidden_field :user_id, value: @commenter.id  %> <br>
		<%= f.label "Add a comment:" %> 
		<%= @commenter.username  %> <br>
		<%= f.text_area :text %> <br>
		<%= f.label "On 1-10, how would you rate this movie?" %> 
		<%= f.number_field :rating %>
         
		<%= f.submit %>
	<%  end %>
	</div>

<div id="imagedisplay">
	
</div>

<%= link_to "Edit this movie", edit_movie_path(@movie.id) %> 
	<br>
	<br>
	<br>

<% if current_user.admin? %>
<%= link_to "Delete this movie", "/destroy/#{@movie.id}" %>
<% end %>


